---
import type { Course } from "@prisma/client";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import { formatCurrency } from "../util/formatCurrency";

const courseId = Astro.url.searchParams.get("courseId");

let course: Course | undefined;

if (courseId) {
  const url = new URL(`${import.meta.env.API_URL}/api/course?`);
  const params = { id: courseId };
  url.search = new URLSearchParams(params).toString();

  course = await fetch(url).then((r) => r.json());
}
---

<Layout title="Reservar | Ski da Serra">
  <main class="-mt-12 flex min-h-screen items-center justify-between">
    {
      courseId && course && (
        <>
          <div class="flex flex-col gap-8">
            <h1 class=" text-3xl">
              Reservar <span class="font-medium">{course.title}</span>
            </h1>
            <h3 class="-mt-6 text-xl">{course.description}</h3>

            <div class="flex items-center gap-8">
              <span class="text-primary text-3xl font-medium">
                {formatCurrency(Number(course.price))}
              </span>

              <a href={`/checkout?courseId=${course.id}`}>
                <Button type={"secondary"}>Reservar este Curso</Button>
              </a>
            </div>
          </div>
          <img class="w-1/2 rounded-xl shadow-lg" src={course.image} alt="" />
        </>
      )
    }

    {
      !courseId && (
        <div class="flex flex-col gap-8">
          <h1 class=" text-3xl">
            Reservar <span class="font-medium">Aulas</span>
          </h1>
          <h3 class="-mt-6 text-xl">Escolha o tipo de aula que deseja</h3>

          <div class="flex flex-col gap-4">
            <a href="/reservar/aulas?courseId=1">Aulas de Ski</a>
            <a href="/reservar/aulas?courseId=2">Aulas de Snowboard</a>
          </div>
        </div>
      )
    }

    <!-- <div class="flex flex-col gap-4">
      <a href="/reservar/acesso-a-pista">Acesso รก Pista</a>
      <a href="/reservar/aulas">Aulas</a>
      <a href="/reservar/equipamento">Equipamento de Ski</a>
    </div> -->
  </main>
</Layout>
