---
import Button from "./Button.astro";

const linkStyles =
  "font-medium text-primary transition-opacity hover:opacity-80";
---

<div class="flex w-full items-center justify-between">
  <a class="transition-opacity hover:opacity-80" href="/">
    <img src="/logo.png" alt="Logótipo do Ski da Serra" />
  </a>

  <div class="flex items-center gap-4">
    <nav class="flex items-center gap-4">
      <a class={linkStyles} href="/backoffice/clientes">Clientes</a>
      <a class={linkStyles} href="/backoffice/pagamentos">Pagamentos</a>
      <a class={linkStyles} href="/backoffice/cursos">Cursos</a>
      <a class={linkStyles} href="/backoffice/aulas">Aulas</a>
      <a class={linkStyles} href="/backoffice/acesso">Acesso Para Pista</a>
      <a class={linkStyles} href="/backoffice/professores">Professores</a>

      <Button type={"primary"}>Logout</Button>
    </nav>
  </div>

  <script>
    const button = document.querySelector("button");

    button?.addEventListener("click", async () => {
      const res = await fetch("/api/auth/logout");
      if (!res.ok) {
        const data = await res.json();
        return data;
      }
      if (res.redirected) {
        window.location.assign(res.url);
      }
    });
  </script>
</div>
